.intro {
  display: flex;
  flex-direction: column;
  width: 830px;
  height: 100%;
}

.intro__title {
  font-family: "Inter";
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  margin-top: 92px;
  margin-bottom: 39.98px;
}

.intro__text-quote {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 92px;
}

.intro__author {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin-top: 0;
  margin-bottom: 31.99px;
  margin-right: 98px;
  text-align: right;
}

.intro__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  margin-top: 0;
  margin-bottom: 92px;
  margin-right: 108px;
}
