.lead {
  margin: 0 auto;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.lead__title {
  font-family: "Inter";
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  margin: 0 auto 32px;
  text-align: center;
  max-width: 73.17%;
}

.lead__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto 64px;
  text-align: center;
  color: #ffffff;
  max-width: 73.17%;
  height: 72px;
}

.lead__image-rectangle21 {
  width: 100%;
  max-width: 984px;
  height: auto;
  background: #000000;
  filter: grayscale(100%);
}

.lead__image {
  width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
  }

  .lead__title {
    max-width: 720px;
  }

  .lead__subtitle {
    max-width: 720px;
    margin-bottom: 56px;
  }

  .lead__image-rectangle21 {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 720px;
  }

  .lead__title {
    font-size: 75px;
    line-height: 79px;
    margin-bottom: 25px;
    max-width: 100%;
  }

  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 30px;
    height: auto;
    max-width: 100%;
  }

  .lead__image-rectangle21 {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .lead__title {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
    max-width: 100%;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
    max-width: 100%;
    height: auto;
  }

  .lead__image-rectangle21 {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .lead__image {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}
