.lead {
  margin: 0 auto;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.lead__title {
  font-family: "Inter";
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  margin: 0 auto 32px;
  text-align: center;
  max-width: 73.17%;
}

.lead__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto 64px;
  text-align: center;
  color: #ffffff;
  max-width: 73.17%;
  height: 72px;
}

.lead__image-rectangle21 {
  width: 100%;
  max-width: 984px;
  height: auto;
  background: #000000;
  filter: grayscale(100%);
}

.lead__image {
  width: 100%;
  height: auto;
  display: block;
}
