.page {
  max-width: 1280px;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  padding-left: 148px;
  padding-right: 148px;
  font-family: "Inter";
  background-color: #2a2c2f;
  color: white;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .page {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    padding-left: 0;
    padding-right: 0;
  }
}
