@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/lead.css);
@import url(../blocks/intro.css);
@import url(../blocks/footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*.page {
  max-width: 1280px;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  padding-left: 148px;
  padding-right: 148px;
  font-family: "Inter";
  background-color: #2a2c2f;
  color: white;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  max-width: 254.84px;
  max-height: 68.94px;
  padding-top: 34px;
  padding-bottom: 91.06px;
}

.lead {
  margin: 0 auto;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.lead__title {
  font-family: "Inter";
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  margin: 0 auto 32px;
  text-align: center;
  max-width: 73.17%;
}

.lead__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto 64px;
  text-align: center;
  color: #ffffff;
  max-width: 73.17%;
  height: 72px;
}

.lead__image-rectangle21 {
  width: 100%;
  max-width: 984px;
  height: auto;
  background: #000000;
  filter: grayscale(100%);
}

.lead__image {
  width: 100%;
  height: auto;
  display: block;
}

.intro {
  display: flex;
  flex-direction: column;
  width: 830px;
  height: 100%;
}

.intro__title {
  font-family: "Inter";
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  margin-top: 92px;
  margin-bottom: 39.98px;
}

.intro__text-quote {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 92px;
}

.intro__author {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin-top: 0;
  margin-bottom: 31.99px;
  margin-right: 98px;
  text-align: right;
}

.intro__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  margin-top: 0;
  margin-bottom: 92px;
  margin-right: 108px;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 24px;
}*/

/* Media Queries */

/*@media screen and (max-width: 1024px) {
  .page {
    padding-left: 48px;
    padding-right: 48px;
  }

  .header__logo {
    max-width: 176px;
    max-height: 52px;
    padding-top: 28px;
    padding-bottom: 56px;
  }

  .lead {
    max-width: 928px;
  }

  .lead__title {
    max-width: 720px;
  }

  .lead__subtitle {
    max-width: 720px;
    margin-bottom: 56px;
  }

  .lead__image-rectangle21 {
    max-width: 928px;
  }

  .intro {
    width: 690px;
  }

  .intro__title {
    margin-top: 88px;
  }

  .intro__text {
    margin-bottom: 88px;
  }

  .intro__text-quote {
    margin-right: 0;
  }

  .intro__author {
    margin-right: 0;
    text-align: right;
  }

  .intro__text {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .page {
    padding-left: 24px;
    padding-right: 24px;
  }

  .header__logo {
    max-width: 254px;
    max-height: 66px;
    padding-top: 30px;
    padding-bottom: 90px;
  }

  .lead {
    max-width: 720px;
  }

  .lead__title {
    font-size: 75px;
    line-height: 79px;
    margin-bottom: 25px;
    max-width: 100%;
  }

  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 30px;
    height: auto;
    max-width: 100%;
  }

  .lead__image-rectangle21 {
    max-width: 768px;
  }

  .intro {
    width: 100%;
  }

  .intro__title {
    font-size: 42px;
    line-height: 46px;
    margin-top: 90px;
    margin-bottom: 50px;
  }

  .intro__text-quote {
    margin-right: 0;
  }

  .intro__author {
    text-align: left;
    margin-right: 0;
  }

  .intro__text {
    margin-right: 0;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    padding-left: 0;
    padding-right: 0;
  }

  .header,
  .lead,
  .intro,
  .footer {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header__logo {
    max-width: 188px;
    max-height: 52px;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .lead {
    max-width: 100%;
  }

  .lead__title {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
    max-width: 100%;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
    max-width: 100%;
    height: auto;
  }

  .lead__image-rectangle21 {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .lead__image {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .intro {
    width: 100%;
    max-width: 100%;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
    margin-top: 64px;
    margin-bottom: 40px;
  }

  .intro__text-quote {
    font-size: 24px;
    line-height: 30px;
    margin-right: 0;
  }

  .intro__author {
    font-size: 24px;
    line-height: 34px;
    margin-right: 0;
    text-align: left;
  }

  .intro__text {
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 64px;
    margin-right: 0;
  }
}*/
