@import "fonts.css";
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/lead.css);
@import url(../blocks/intro.css);
@import url(../blocks/footer.css);

.page {
  max-width: 1280px;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  padding-left: 148px;
  padding-right: 148px;
  font-family: "Inter";
  background-color: #2a2e2f;
  color: white;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  max-width: 254.84px;
  max-height: 68.94px;
  padding-top: 34px;
  padding-bottom: 91.06px;
}

.content {
  margin: 0 auto;
}

.lead {
  margin: 0 auto;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  font-family: "Inter";
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  margin: 0 auto 32px;
  text-align: center;
  max-width: 73.17%;
}

.lead__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto 64px;
  text-align: center;
  color: #ffffff;
  max-width: 73.17%;
  height: 72px;
}

.lead__image-rectangle21 {
  width: 984px;
  height: 615px;
  background: #000000;
  filter: grayscale(100%);
  /*left: 148px;
  top: 562px;
  mix-blend-mode: hue;*/
  /* Rectangle 21 */
}

.lead__image {
  max-width: 984px;
  height: 615px;
  /*transition: filter 0.5s ease;
  filter: grayscale(100%);*/
}

.intro {
  display: flex;
  flex-direction: column;
  width: 830px;
  height: 100%;
}

.intro__title {
  font-family: "Inter";
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  justify-content: flex-start;
  margin-top: 92px;
  margin-bottom: 39.98px;
}

.intro__text-quote {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 92px;
}

.intro__author {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  display: flex;
  justify-content: right;
  margin-top: 0;
  margin-bottom: 31.99px;
  margin-right: 98px;
}

.intro__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  margin-top: 0;
  margin-bottom: 92px;
  margin-right: 108px;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 24px;
}
